{% extends "base_template/authentication.html" %} 

{% block content %} 

{% load static%}

<section class="login-block offline-404">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
            
                <div class="text-center">
                    <h1>SRA-AFD Portal</h1>
                </div>

                <div class="card auth-box">
                    <div class="card-block text-center">
                        <form>
                            <h2 class="m-b-15 text-muted">Success!!</h2>
                            <h4 class="m-b-15 text-muted">Your username has been changed successfully. Please login again your account.</h4>
                            <a href="{% url 'login_page' %}" class="btn btn-inverse m-t-30">Back to login</a>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}